name: Deployment
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update repository
        run: |
          cd ${{secrets.PROJECT_PATH}} 
          git fetch
          git checkout main
          git pull

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Create .env
        run: |
          cat > .env << 'EOF'
          ${{ secrets.ENV }}
          EOF

      - name: Build project
        run: npm run build

      - name: Restart PM2
        run: |
          pm2 stop ${{ secrets.PM2_PROCESS_NAME }} || true
          pm2 delete ${{ secrets.PM2_PROCESS_NAME }} || true
          pm2 start dist/index.js --name ${{ secrets.PM2_PROCESS_NAME }}

      - name: Deployment success
        run: echo "Deployment completed de gordo."
